<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>

      <section>
        <%= render 'shared/stats' %>
      </section>

      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>

  <div class="center hero-unit">
    <h1>Welcome to Twitter!<h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div> 
    <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="featured_1">
      <h3>Featured Professor name here</h3>
      <p>Here we can put a simple bio of the featured professor.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="featured_2">
      <h3>Featured Student name here</h3>
      <p>Here we can put a simple bio of the featured student.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="featured_3">
      <h3>Featured section name here</h3>
      <p>Here we can put a simple bio or latest achievement of that particular section.</p>
    </div>
  </li>
</ul>
<% end %> 
