<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>

      <section>
        <%= render 'shared/stats' %>
      </section>

      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>

    <center>
      <%= link_to image_tag("ct.jpg", alt: "College of Technology", width: "86", height: "86"), 'http://www.facebook.com/groups/theofficialpupct/', :target => '_blank' %>
      
      <%= link_to image_tag("pup.png", alt: "Polytechnic University of the Philippines", width: "80", height: "80"), 'http://www.pup.edu.ph', :target => '_blank' %>
      <p></p>

  </center>

  <div class="center hero-unit">
    <h1>Welcome to CTZEN <h1>

    <h2>
      This web application is made for PUP College of Technology Students
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  <div class="alert alert-error">
    <p class="lead"> Thank you for those who support CTzen application. We are working hard to make this app functional, and please continue supporting us. We are open for any suggestions while this app is on its BETA version. Thank You! Be proud CTzens! :) </p>
  </div>
 <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="featured_1">
      <h3>Featured Professor name here</h3>
      <p>Here we can put a simple bio of the featured professor.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="featured_2">
      <h3>Featured Student name here</h3>
      <p>Here we can put a simple bio of the featured student.</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img src="http://placehold.it/300x200" alt="featured_3">
      <h3>Featured section name here</h3>
      <p>Here we can put a simple bio or latest achievement of that particular section.</p>
    </div>
  </li>
</ul>
<% end %> 
