<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= @user.email %>
      <p>
        <font color="#0099ff">@<%= @user.username %></font>
      </p>
    </section>
    <section>
         <%= render 'shared/stats' %>
       </section>
       <section>
         <%= render 'follow_form' if signed_in? %>
       </section>
  </aside>
  <div class="span8">
     <% if @user.microposts.any? %>
       <h3>Microposts (<%= @user.microposts.count %>)</h3>
       <ul class="microposts">
      <% @replies.each do |f| %>
        <li> <%= gravatar_for(f.user) %>
          <% @post_replies = Micropost.find(f.micropost_id) %>   
          <%= render @post_replies %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
