<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user%>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span><%= current_user.email %><span>
    <span>
      <p>
        <font color="#0099ff">@<%= current_user.username %></font>
      </p>
    </span>
